<!DOCTYPE html>
<html>
<head lang='en'>
    <meta charset='UTF-8'>
    <title>魅族Fake在线商店</title>
    <link rel='stylesheet' type='text/css' href='/css/lib.css'>
    <link rel='stylesheet' type='text/css' href='/css/store/index.css'>
</head>
<body>
    {% include '../include/header.html' %}
    <div class='st'>
        <div class='st-nav clear'>
            <div class='st-nav-box fr'>
                <a href='#'>M码通道</a><i class='split'></i>
                <a href='#'>手机查询订单</a><i class='split'></i>
                <a href='#' style='padding-right:0'>购物车<span class='cart-count'>0</span>件</a>
            </div>
        </div> 
        <div class='st-products'>
            <div class='st-pd'>
                <a href='#'>
                    <img src='/images/store/icon-phone.jpg'>
                    <h4>MX5</h4>
                </a>
            </div>
            <div class='st-pd'>
                <a href='#'>
                    <img src='/images/store/icon-phone.jpg'>
                    <h4>MX5</h4>
                </a>
            </div>
            <div class='st-pd'>
                <a href='#'>
                    <img src='/images/store/icon-phone.jpg'>
                    <h4>MX5</h4>
                </a>
            </div>
            <div class='st-pd'>
                <a href='#'>
                    <img src='/images/store/icon-phone.jpg'>
                    <h4>MX5</h4>
                </a>
            </div>
            <div class='st-pd'>
                <a href='#'>
                    <img src='/images/store/icon-phone.jpg'>
                    <h4>MX5</h4>
                </a>
            </div>
            <div class='st-pd'>
                <a href='#'>
                    <img src='/images/store/icon-phone.jpg'>
                    <h4>MX5</h4>
                </a>
            </div>
            <div class='justify-last'></div>
        </div>
        
        <!--轮播图 start-->
        <div class='st-slider clear'>
            <div class='ctrl'>
                <a class='prev'></a>
                <a class='next'></a>
            </div>
            <div class='slider'>
                <div class='slider-box'>
                    <div class='slider-item' >
                        <a href='#'><img src='/images/store/p1.jpg'></a>
                    </div>
                    <div class='slider-item' >
                        <a href='#'><img src='/images/store/p2.png'></a>
                    </div>
                    <div class='slider-item' >
                        <a href='#'><img src='/images/store/p3.jpg'></a>
                    </div>
                    <div class='slider-item' >
                        <a href='#'><img src='/images/store/p4.jpg'></a>
                    </div>
                </div>
            </div>
        </div>
        <!--轮播图 end-->
        
        <!--田字图 start-->
        <div class='st-phone'>
            <div class='row'>
                <div class='col-2-1'><a href='#' class='st-phone-lt'><img src='/images/store/mx5.png'></a></div>
                <div class='col-2-1'><a href='#'><img src='/images/store/mx4.png'></a></div>
            </div>
            <div class='row'>
                <div class='col-2-1'><a href='#'><img src='/images/store/mx4_pro.png'></a></div>
                <div class='col-2-1'><a href='#'><img src='/images/store/meilan.png'></a></div>
            </div>
        </div>
        <!--田字图 end-->
        
        <div class='taocan'>
            <h1 class='title'>推荐套餐</h1>
            <div class='row'>
                <div class='col-4-1'>
                    <div href='#' class='taocan-item taocan-item-first'>
                        <div class='taocan-item-box'>
                            <h2>MX5套餐</h2>
                            <img src='/images/store/taocan1.png'>
                        </div>
                    </div>
                </div>
                <div class='col-4-1'>
                    <div class='taocan-item'>
                        <h2>魅蓝note2良品套餐</h2>
                        <a href='#'><img src='/images/store/taocan2.png'></a>
                    </div>
                </div>
                <div class='col-4-1'>
                    <div class='taocan-item'>
                        <h2>魅蓝note2良品套餐</h2>
                        <a href='#'><img src='/images/store/taocan3.png'></a>
                    </div>
                </div>
                <div class='col-4-1'>
                    <div class='taocan-item'>
                        <h2>魅蓝良品套餐</h2>
                        <a href='#'><img src='/images/store/taocan4.png'></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class='taocan'>
            <h1 class='title'>推荐配件</h1>
            <div class='row'>
                <div class='col-6-1 peijian'>
                    <a href='#'>
                        <img src='/images/store/pj1.jpg'><br>
                        耳机
                    </a>
                </div>
                <div class='col-6-1 peijian'>
                    <a href='#'>
                        <img src='/images/store/pj2.jpg'><br>保护壳
                    </a>
                </div>
                <div class='col-6-1 peijian'>
                    <a href='#'>
                        <img src='/images/store/pj3.jpg'><br>保护套
                    </a>
                </div>
                <div class='col-6-1 peijian'>
                    <a href='#'>
                        <img src='/images/store/pj4.jpg'><br>贴膜
                    </a>
                </div>
                <div class='col-6-1 peijian'>
                    <a href='#'>
                        <img src='/images/store/pj5.jpg'><br>电源适配器
                    </a>
                </div>
                <div class='col-6-1 peijian'>
                    <a href='#'>
                        <img src='/images/store/pj6.jpg'><br>智能硬件
                    </a>
                </div>
            </div>
            <img src='/images/store/erji.jpg' align="absbottom">
            <div class='clear p-box'>
                <div class='p-wrap'>
                    <div class='p-desc'>
                        <h2 class='p-name'>意外保</h2>
                        <span class='p-price'>￥49.00</span>
                    </div>
                    <img src='/images/store/bao.jpg'>
                </div>
                <div class='p-wrap'>
                    <div class='p-desc'>
                        <h2 class='p-name'>意外保</h2>
                        <span class='p-price'>￥49.00</span>
                    </div>
                    <img src='/images/store/dianyuan.jpg'>
                </div>
                <div class='p-wrap p-wrap-last'>
                    <div class='p-desc'>
                        <h2 class='p-name'>意外保</h2>
                        <span class='p-price'>￥49.00</span>
                    </div>
                    <img src='/images/store/pitao.png'>
                </div>
            </div>
        </div>
    </div>
    
    <div class='shouhou'>
        <div class='shouhou-box'>
            aaa
        </div>
    </div>
    {% include '../include/footer.html' %}
</body>
<script type="text/javascript" src="/js/lib.js"></script>
<script type="text/javascript" src="/js/store/index.js"></script>
</html>