<!DOCTYPE html>
<html>
<head lang='en'>
    <meta charset='UTF-8'>
    <title>魅族Fake官网</title>
    <link rel='stylesheet' type='text/css' href='/css/lib.css'>
    <link rel='stylesheet' type='text/css' href='/css/index.css'>
</head>
<body>
    {% include './include/header.html' %}
    <div class='top'>
        <div class='slider'>
            <div class='slider-box'>
                <div class='slider-item slider-bg-0'></div>
                <div class='slider-item slider-bg-1'></div>
                <div class='slider-item slider-bg-2'></div>
                <div class='slider-item slider-bg-3'></div>
                <div class='slider-item slider-bg-4'></div>
                <div class='slider-item slider-bg-5'></div>
            </div>
            
            <div class='slider-ctrl-box'>
                <a class='slider-ctrl slider-ctrl-active'></a>
                <a class='slider-ctrl'></a>
                <a class='slider-ctrl'></a>
                <a class='slider-ctrl'></a>
                <a class='slider-ctrl'></a>
                <a class='slider-ctrl'></a>
            </div>
        </div>
    </div>
    <div class='hotspot'>
        <div class='row hosspot-box'>
            <div class='col-3-1'><a href='#'><img src='images/index/hot1.jpg'></a></div>
            <div class='col-3-1'><a href='#'><img src='images/index/hot2.jpg'></a></div>
            <div class='col-3-1'><a href='#'><img src='images/index/hot3.jpg'></a></div>
        </div>
    </div>
    
    {% include './include/footer.html' %}
</body>
<script type="text/javascript" src="/js/lib.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</html>