<div class='ft'>
    <div class='row ft-box'>
        <div class='col-5-1'>
            <h4>在线商店</h4>
            <p><a href='#'>MX4 Pro</a></p>
            <p><a href='#'>MX4</a></p>
            <p><a href='#'>耳机</a></p>
            <p><a href='#'>保护壳</a></p>
        </div>
        <div class='col-5-1'>
            <h4>Flyme OS</h4>
            <p><a href='#'>云服务</a></p>
            <p><a href='#'>固件下载</a></p>
            <p><a href='#'>软件商店</a></p>
            <p><a href='#'>查找手机</a></p>
        </div>
        <div class='col-5-1'>
            <h4>关于我们</h4>
            <p><a href='#'>关于魅族</a></p>
            <p><a href='#'>加入我们</a></p>
            <p><a href='#'>联系我们</a></p>
            <p><a href='#'>法律声明</a></p>
        </div>
        <div class='col-5-1'>
            <h4>关注我们</h4>
            <p><a href='#'>新浪微博</a></p>
            <p><a href='#'>腾讯微博</a></p>
            <p><a href='#'>QQ空间</a></p>
            <p><a href='#'>官方微信</a></p>
        </div>
        <div class='col-5-1'>
            <h4>客服热线</h4>
            <p><a href='#'>400-788-3333</a><a href='#' class='kefu'>在线客服</a></p>
            <p><a href='#'>简体中文</a></p>
        </div>
    </div>
</div>
<div class='ft-co'>
    <img class='ft-logo' src='/images/base/ft-logo.jpg'>
    <div class='ft-co-right'>
        <span>©2015 Meizu Telecom Equipment Co., Ltd. All rights reserved. </span>
        <a href='#'>备案号：粤ICP备13003602号-2 </a>
        <a href='#'>经营许可证编号：粤B2-20130198 </a>
        <a href='#'>经营许可证编号：粤B2-20130198 </a>
        <a href='#'>营业执照 </a>
        <a class='ft-ico-a' href='#'><img src='/images/base/ft-ico-1.png'></a>
        <a class='ft-ico-a' href='#'><img src='/images/base/ft-ico-2.png'></a>
    </div>
</div>