<div id="header" class="hd">
    <div class='hd-box'>
        <a class='hd-logo' href='/'></a>
        <nav class='hd-nav'>
            <a class='hd-a' href='/store'>在线商店</a>
            <a class='hd-a' href='#'>产品</a>
            <a class='hd-a' href='#'>专卖店</a>
            <a class='hd-a' href='#'>Flyme</a>
            <a class='hd-a' href='#'>服务</a>
            <a class='hd-a' href='#'>社区</a>
            
            <a class="hd-a hd-login" href='#'>登录</a>
            <a class="hd-split" href='#'>|</a>
            <a class="hd-a hd-reg" href='#'>注册</a>
        </nav>
    </div>    
</div>