@import "../var.less";
.st{background-color:#f5f5f5;}
.st-nav, .st-products{margin:0 auto;width:@bd-width;}
.st-nav-box{
    //position:absolute;right:0;top:0;
    height:@st-nav-height;line-height:@st-nav-height;
}
.st-nav-box a{
    padding:0 10px;
}
.cart-count{
    color:@cart-count-color;
    padding:0 4px;
}
.st-pd-first{
    text-align:left;
}
.st-pd-last{
    text-align:right;
}

.st-products{text-align:justify;margin-top:24px;}
.st-pd{
    display:inline-block;
    text-align:center;
    zoom:1;
    vertical-align:top
}
.justify-last{
    width:100%;height:0;padding:0;overflow:hidden;display:inline-block;zoom:1;vertical-align:top;
}

//重写slider插件的尺寸
.st-slider, .slider{width:@bd-width;height:@st-slider-height;margin:0 auto;}
.st-slider{position:relative;}

.ctrl{top:(@st-slider-height - @arrow-height)/2;position:absolute;width:100%;}
.prev, .next{
    position:absolute;
    display:inline-block;width:@arrow-width;height:@arrow-height;
    z-index:10;
    background:url('/images/store/icon-arrow.png') #000;opacity:0.4;
}
.prev{left:0;background-position:-5px 0;}
.next{right:0;background-position:30px 0;}
.next:hover{opacity:0.6;}
.pre:hover{opacity:0.6;}


.st-phone{width:@bd-width;margin:0 auto;border:1px solid #ddd;}

.col-4-1{background-color:#fff;}
.taocan{width:@bd-width;margin: 0 auto;}
.title{
    font-size:24px;
    font-weight:normal;
    margin:0;
    padding:20px 0;
    border-bottom:3px solid #333;
}
.taocan-item{
    border-top:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
}
.taocan-item-first{
    border-left:1px solid #ddd;
}
.taocan-item h2{
    margin-left:40px;
    font-size:16px;
}

.peijian{
    text-align:center;
    padding:30px 0;
    background-color:#fff;
}

.p-box{background-color:#fff;border:1px solid #ddd;border-top:none;}
.p-wrap{
    border-right:1px solid #ddd;
    float:left;
    height:330px;
    padding-top:15px;
}
.p-wrap-last{border-right:none;}
.p-desc{margin-left:45px;}
.p-name{font-weight:normal;font-size:16px;margin:10px 0;}

.shouhou{margin-top:50px;background-color:#fff;}
.shouhou-box{margin:45px auto;}