@import "../var.less";

body{
    margin:0;padding:0;
    font:@bd-font;color:@bd-color;
    background-color:#fff;
}
a{color:@bd-color;text-decoration:none;}
img{border:none;margin:0;padding:0;}

.row{
    overflow:auto;zoom:1;*zoom:1;
    width:100%;
    //letter-spacing:0em;word-spacing:-.3em;/*去掉display:inline-block元素间的空白*/
    text-rendering:optimizespeed;
    display:-webkit-flex;-webkit-flex-flow:row wrap;
    display:-ms-flex;-ms-flex-flow:row wrap;
    font-size:0;
}
.col-3-1, .col-3-2, .col-4-1, .col-4-2, .col-4-3, .col-5-1, .col-5-2, .col-5-3, .col-5-4,
.col-6-1, .col-6-2, .col-6-3, .col-6-4, .col-6-5{
    font-size:14px;
    display:inline-block;zoom:1;*zoom:1;*display:inline;/*<ie 8*/
    letter-spacing:normal;word-spacing:normal;/*这里要恢复一下row设置的letter-spacing和word-spacing值*/
    text-rendering:auto;vertical-align:top;
    overflow:hidden;
}
.col-2-1, .col-4-2{width:50%;} 
.col-3-1{width:33.3333%;}
.col-3-2{width:66.66%;}
.col-4-1{width:25%;}
.col-4-3{width:75%;}
.col-5-1{width:20%;}
.col-5-2{width:40%;}
.col-5-3{width:60%;}
.col-5-4{width:80%;}
.col-6-1{width:16.6666%;}
.col-6-2{width:33.3333%;}
.col-6-3{width:50%;}
.col-6-4{width:66.6666%;}
.col-6-5{width:183.3333%;}

.split{border-right:1px solid rgb(173,173,173);}
.clear{}
.clear:after{content:"";display:table;font-size:0;overflow:hidden;height:0;clear:both;}
.fl{float:left;}
.fr{float:right;}
.tc{
    text-align:center;
}
