@import "../var.less";

.ft{
    border-top:1px solid @ft-border-color;border-bottom:1px solid @ft-border-color;
    padding:60px 0;  
}
.ft-box{
    width:@bd-width;
    margin:0 auto;
}
.kefu{
    background-color:@kefu-bg-color;
    color:@kefu-color;
    padding:2px 10px;
    margin-left:8px;
}

.ft-co{
    position:relative;
    height:@ft-co-height;
    width:100%;
}
.ft-logo{
    margin-top:(@ft-co-height - @ft-logo-height)/2;
    margin-left:20px;
}
.ft-co-right{
    position:absolute;
    right:0;top:0;
    height:@ft-co-height;line-height:@ft-co-height;
}
.ft-co-right a, .ft-co-right span{
    color:#999;font-size:12px;
    margin-right:20px;
}
.ft-ico-a{
    margin-right:5px !important;
}
.ft-ico-a img{
    height:@ft-ico-height;
    margin-bottom:-5px;
}