@import "../var.less";
.hd{
    width:100%;
    transition:1s;
    position:relative;
    z-index:10;
    //position:absolute;top:0;
}
.hd:hover{
    background:#fcfcfc;
}
.hd-box{
    width:@bd-width;margin:0 auto;
    overflow:auto;zoom:1;*zoom:1;/*ie: 清除浮动*/
}
.hd-logo, .hd-a{
    height:@hd-height;line-height:@hd-height;
}
.hd-logo{ 
    float:left; 
    width:@logo-width;height:@logo-height;
    background:url('/images/base/logo-blue.png') no-repeat;
    margin-top:(@hd-height - @logo-height)/2;//图片居中计算
}
.hd-a{padding:22px;}
.hd-a:hover{color:@color-blue;}
.hd-login, .hd-split, .hd-reg{font-size:12px;}
.hd-login{padding:0 0 0 22px;}
.hd-split{padding:0 2px;}
.hd-reg{padding:0;}
.hd-nav{float:right;}

