@import "var.less";

.top{position:absolute;width:100%;top:0;left:0;right:0;z-index:1;}
.slider{width:100%;height:@slider-height;}
.slider-item{
    background-position: center center;
    //background-attachment:fixed;
    background-repeat:no-repeat;
    width:100%;
    height:@slider-height;
    margin:0 auto;
}
.slider-bg-0{background-image:url('/images/index/s0.jpg');}
.slider-bg-1{background-image:url('/images/index/s1.jpg');}
.slider-bg-2{background-image:url('/images/index/s2.jpg');}
.slider-bg-3{background-image:url('/images/index/s3.jpg');}
.slider-bg-4{background-image:url('/images/index/s4.jpg');}
.slider-bg-5{background-image:url('/images/index/s5.jpg');}

.slider-ctrl-box{
    position:absolute;bottom:50px;//容器紧靠底部
    width:100%;text-align:center;//让行内元素居中显示
}
.slider-ctrl{
    display:inline-block;width:20px;height:5px;
    margin:0 2px;
    background-color:#ccc;
    transition:0.2s;
}
.slider-ctrl:hover{cursor:pointer;background-color:@color-blue;}
.slider-ctrl-active{background-color:@color-blue;}

.hotspot{
    width:100%;
    margin-top:@slider-height;
}
.hosspot-box{
    width:@bd-width;margin:0 auto;
}
.hosspot-box > div{
    box-sizing:border-box;
    // border:1px solid red;
}
.hosspot-box img{
    height:200px;
}