//base.less
@bd-color:#515151;
@bd-font:14px "微软雅黑","Microsoft Yahei",Arial,Helvetica,sans-serif,"宋体";
@bd-width:1040px;

//header.less
@hd-height:80px;
@logo-height:20px;//和@hd-height一起计算，让图片居中
@logo-width:112px; 
@color-blue:#31a5e7;

//footer.less
@ft-border-color:#f1f1f1;
@kefu-bg-color:#3db1fa;
@kefu-color:#fff;
@ft-co-height:80px;
@ft-logo-height:14px;
@ft-ico-height:20px;

//index.less
@slider-height:760px;

//store/index.less
@cart-count-color:@color-blue;
@st-nav-height:70px;
@st-slider-height:400px;
@arrow-height:64px;
@arrow-width:30px;